# systemd service for managing all openarc autoconfiguration.

[Unit]
Description=OpenARC Configuration Autodiscovery
PartOf=openarc.service
Before=openarc.service
Before=postfix-autodiscovery.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/openarc
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/openarc
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

